In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [2]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=771ccfdadf3b58bb3ea5139d813256bbee36fdbc63c0dfdf7743e863e6bec196
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('adult').getOrCreate()

In [6]:
data = spark.read.csv('/content/adult.data', header=True, inferSchema=True)

In [7]:
data.show()

+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
| 39|        State-gov|   77516|    Bachelors|  13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|   2174|  0|  40| United-States| <=50K|
+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0|0.0|13.0| United-States| <=50K|
| 38|          Private|215646.0|      HS-grad| 9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 53|          Private|234721.0|         11th| 7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 28|          Private|338409.0|    Bachelors|13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0|0.0|40.0|          Cuba| <=50K|
| 37|          Private|284582.0|      Masters|14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0|0.0|40.0| United-States| <=50K|
| 49|          Private|160187.0|          9th| 5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0|0.0|16.0|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642.0|      HS-grad| 9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0|0.0|45.0| United-States|  >50K|
| 31|          Private| 45781.0|      Masters|14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0|0.0|50.0| United-States|  >50K|
| 42|          Private|159449.0|    Bachelors|13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0|0.0|40.0| United-States|  >50K|
| 37|          Private|280464.0| Some-college|10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0|0.0|80.0| United-States|  >50K|
| 30|        State-gov|141297.0|    Bachelors|13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0|0.0|40.0|         India|  >50K|
| 23|          Private|122272.0|    Bachelors|13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0|0.0|30.0| United-States| <=50K|
| 32|          Private|205019.0|   Assoc-acdm|12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0|0.0|50.0| United-States| <=50K|
| 40|          Private|121772.0|    Assoc-voc|11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0|0.0|40.0|             ?|  >50K|
| 34|          Private|245487.0|      7th-8th| 4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0|0.0|45.0|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756.0|      HS-grad| 9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0|0.0|35.0| United-States| <=50K|
| 32|          Private|186824.0|      HS-grad| 9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0|0.0|40.0| United-States| <=50K|
| 38|          Private| 28887.0|         11th| 7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0|0.0|50.0| United-States| <=50K|
| 43| Self-emp-not-inc|292175.0|      Masters|14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0|0.0|45.0| United-States|  >50K|
| 40|          Private|193524.0|    Doctorate|16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0|0.0|60.0| United-States|  >50K|
+---+-----------------+--------+-------------+----+--------------------+------------------+--------------+-------------------+-------+-------+---+----+--------------+------+
only showing top 20 rows

In [8]:
labels = ['age','workclass','fnlwgt','education','numbers','marital','occupation','relation','race','gender','gain','loss','hourlypay','country','income']

In [9]:
df = data.toDF(*labels)
df.show()

+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
|age|        workclass|  fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender|   gain|loss|hourlypay|       country|income|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
| 50| Self-emp-not-inc| 83311.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|     13.0| United-States| <=50K|
| 38|          Private|215646.0|      HS-grad|    9.0|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 53|          Private|234721.0|         11th|    7.0|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 28|          Private|338409.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0.0| 0.0|     40.0|          Cuba| <=50K|
| 37|          Private|284582.0|      Masters|   14.0|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0.0| 0.0|     40.0| United-States| <=50K|
| 49|          Private|160187.0|          9th|    5.0| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0.0| 0.0|     16.0|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642.0|      HS-grad|    9.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0.0| 0.0|     45.0| United-States|  >50K|
| 31|          Private| 45781.0|      Masters|   14.0|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084.0| 0.0|     50.0| United-States|  >50K|
| 42|          Private|159449.0|    Bachelors|   13.0|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178.0| 0.0|     40.0| United-States|  >50K|
| 37|          Private|280464.0| Some-college|   10.0|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0.0| 0.0|     80.0| United-States|  >50K|
| 30|        State-gov|141297.0|    Bachelors|   13.0|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|     40.0|         India|  >50K|
| 23|          Private|122272.0|    Bachelors|   13.0|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0.0| 0.0|     30.0| United-States| <=50K|
| 32|          Private|205019.0|   Assoc-acdm|   12.0|       Never-married|             Sales| Not-in-family|              Black|   Male|    0.0| 0.0|     50.0| United-States| <=50K|
| 40|          Private|121772.0|    Assoc-voc|   11.0|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0.0| 0.0|     40.0|             ?|  >50K|
| 34|          Private|245487.0|      7th-8th|    4.0|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0.0| 0.0|     45.0|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756.0|      HS-grad|    9.0|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0.0| 0.0|     35.0| United-States| <=50K|
| 32|          Private|186824.0|      HS-grad|    9.0|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0.0| 0.0|     40.0| United-States| <=50K|
| 38|          Private| 28887.0|         11th|    7.0|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0.0| 0.0|     50.0| United-States| <=50K|
| 43| Self-emp-not-inc|292175.0|      Masters|   14.0|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0.0| 0.0|     45.0| United-States|  >50K|
| 40|          Private|193524.0|    Doctorate|   16.0|  Married-civ-spouse|    Prof-specialty|       Husband|              White|   Male|    0.0| 0.0|     60.0| United-States|  >50K|
+---+-----------------+--------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-------+----+---------+--------------+------+
only showing top 20 rows

In [10]:
# Checking for the corret datatype for each column
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: double (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: double (nullable = true)
 |-- loss: double (nullable = true)
 |-- hourlypay: double (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [11]:
# Convert the some given feature in correct datatype
from pyspark.sql.functions import col
for i in ['age','fnlwgt','numbers','gain','loss','hourlypay']:
  new_df = df.withColumn(i, col(i).cast('integer'))

In [12]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: double (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: double (nullable = true)
 |-- loss: double (nullable = true)
 |-- hourlypay: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [13]:
# Now Check for the NULL Values
from pyspark.sql.functions import *

new_df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [14]:
# Check for different values of columns
df.select('workclass').distinct().show()

+-----------------+
|        workclass|
+-----------------+
|        State-gov|
|      Federal-gov|
| Self-emp-not-inc|
|        Local-gov|
|          Private|
|                ?|
|     Self-emp-inc|
|      Without-pay|
|     Never-worked|
+-----------------+

In [17]:
# replace the unwanted value  with None
df =new_df.replace("?", None)

In [18]:
# Now Check for the NULL Values
from pyspark.sql.functions import *

df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [19]:
df.groupby("country").count().show()

+-------------------+-----+
|            country|count|
+-------------------+-----+
| Dominican-Republic|   70|
|            Ireland|   24|
|               Cuba|   95|
|          Guatemala|   64|
|               Iran|   43|
|             Taiwan|   51|
|        El-Salvador|  106|
|      United-States|29169|
|              South|   80|
|              Japan|   62|
|          Nicaragua|   34|
|             Canada|  121|
|           Cambodia|   19|
|               Laos|   18|
|            Germany|  137|
|    Trinadad&Tobago|   19|
|               Peru|   31|
|            Ecuador|   28|
|         Yugoslavia|   16|
|            Vietnam|   67|
+-------------------+-----+
only showing top 20 rows

In [22]:
df = df.fillna("United-States", subset = ['country'])

In [23]:
df = df.fillna("Private", subset = ['workclass'])

In [24]:
df = df.fillna("Prof-speciality", subset = ['occupation'])

In [25]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [44]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [27]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'numbers',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'gain',
 'loss',
 'hourlypay',
 'country',
 'income']

In [29]:
categorical_cols = [
 'workclass',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country',
]

numerical_cols = ['age','fnlwgt','numbers','gain','loss','hourlypay']
label = 'income'

In [33]:
indexer = [StringIndexer(inputCol = c, outputCol = f"{c}_index", handleInvalid = "keep") for c in categorical_cols]

In [34]:
label_indexer = StringIndexer(inputCol = "income", outputCol = "label", handleInvalid = "keep")

In [35]:
assembler = VectorAssembler(inputCols = [f"{c}_index" for c in categorical_cols] + numerical_cols, outputCol = "features")

In [38]:
lr = LogisticRegression(featuresCol = "features", labelCol = "label")

In [43]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = indexer + [label_indexer, assembler, lr])

In [45]:
train_data, test_data = df.randomSplit([0.8, 0.2])

In [46]:
model = pipeline.fit(train_data)

In [47]:
predictions = model.transform(test_data)

In [48]:
predictions.show()

+---+----------+--------+---------+-------+--------------+------------------+----------+------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
|age| workclass|  fnlwgt|education|numbers|       marital|        occupation|  relation|  race| gender|gain|loss|hourlypay|         country|income|workclass_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|label|            features|       rawPrediction|         probability|prediction|
+---+----------+--------+---------+-------+--------------+------------------+----------+------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
| 17|         ?| 48703.0|     11th|    7.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|       30|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.2509334913184...|[0.99245154117961...|       0.0|
| 17|         ?|104025.0|     11th|    7.0| Never-married|                 ?| Own-child| White|   Male| 0.0| 0.0|       18|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[9.96062016513771...|[0.99221386567047...|       0.0|
| 17|         ?|127003.0|      9th|    5.0| Never-married|                 ?| Own-child| Black|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|           10.0|          1.0|             7.0|           2.0|       1.0|         0.0|          0.0|  0.0|[3.0,10.0,1.0,7.0...|[9.99456347702724...|[0.99295432043152...|       0.0|
| 17|         ?|148769.0|  HS-grad|    9.0| Never-married|                 ?| Own-child| Black|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            0.0|          1.0|             7.0|           2.0|       1.0|         0.0|          0.0|  0.0|[3.0,0.0,1.0,7.0,...|[9.43085912878322...|[0.97158869031975...|       0.0|
| 17|         ?|181337.0|     10th|    6.0| Never-married|                 ?| Own-child| Other| Female| 0.0| 0.0|       20|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       4.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[11.1757367312479...|[0.99786880460438...|       0.0|
| 17|         ?|187539.0|     11th|    7.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|       10|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.6486523301242...|[0.99587881554230...|       0.0|
| 17|         ?|202521.0|     11th|    7.0| Never-married|                 ?| Own-child| White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[9.58766201977708...|[0.98271401272851...|       0.0|
| 17|         ?|212125.0|     10th|    6.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|       20|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.6170343803049...|[0.99582557607689...|       0.0|
| 17|         ?|219277.0|     11th|    7.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|       20|   United-States| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.4757779904376...|[0.99410495173320...|       0.0|
| 17|         ?|262196.0|     10th|    6.0| Never-married|                 ?| Own-child| White|   Male| 0.0| 0.0|        8|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         0.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.3253721706809...|[0.99570599646613...|       0.0|
| 17|         ?|332666.0|     10th|    6.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|        4|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.9376426819250...|[0.99741727838929...|       0.0|
| 17|         ?|634226.0|     10th|    6.0| Never-married|                 ?| Own-child| White| Female| 0.0| 0.0|       17|   United-States| <=50K|            3.0|            7.0|          1.0|             7.0|           2.0|       0.0|         1.0|          0.0|  0.0|[3.0,7.0,1.0,7.0,...|[10.7797723838137...|[0.99525547838599...|       0.0|
| 17|         ?|659273.0|     11th|    7.0| Never-married|                 ?| Own-child| Black| Female| 0.0| 0.0|       40| Trinadad&Tobago| <=50K|            3.0|            5.0|          1.0|             7.0|           2.0|       1.0|         1.0|         33.0|  0.0|[3.0,5.0,1.0,7.0,...|[10.7119815989939...|[0.98995606175757...|       0.0|
| 17| Local-gov|191910.0|     11th|    7.0| Never-married|             Sales| Own-child| White|   Male| 0.0| 0.0|       20|   United-States| <=50K|            2.0|            5.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|  0.0|[2.0,5.0,1.0,4.0,...|[9.80104361274640...|[0.98979905793721...|       0.0|
| 17| Local-gov|192387.0|      9th|    5.0| Never-married|     Other-service| Own-child| White|   Male| 0.0| 0.0|       45|   United-States| <=50K|            2.0|           10.0|          1.0|             5.0|           2.0|       0.0|         0.0|          0.0|  0.0|[2.0,10.0,1.0,5.0...|[9.70368026761730...|[0.98883289204698...|       0.0|
| 17|   Private| 29571.0|     12th|    8.0| Never-married| Handlers-cleaners| Own-child| White|   Male| 0.0| 0.0|       15|   United-States| <=50K|            0.0|           11.0|          1.0|             9.0|           2.0|       0.0|         0.0|          0.0|  0.0|(14,[1,2,3,4,8,9,...|[10.1773308021882...|[0.99329783639931...|       0.0|
| 17|   Private| 32607.0|     10th|    6.0| Never-married|   Farming-fishing| Own-child| White|   Male| 0.0| 0.0|       20|   United-States| <=50K|            0.0|            7.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|  0.0|(14,[1,2,3,4,8,9,...|[10.4565338570879...|[0.99569903455048...|       0.0|
| 17|   Private| 33138.0|     12th|    8.0| Never-married|             Sales| Own-child| White|   Male| 0.0| 0.0|       40|   United-States| <=50K|            0.0|           11.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|  0.0|(14,[1,2,3,4,8,9,...|[9.37350699691093...|[0.97870430631789...|       0.0|
| 17|   Private| 46402.0|  7th-8th|    4.0| Never-married|             Sales| Own-child| White|   Male| 0.0| 0.0|        8|   United-States| <=50K|            0.0|            8.0|          1.0|             4.0|           2.0|       0.0|         0.0|          0.0|  0.0|(14,[1,2,3,4,8,9,...|[10.5455092058797...|[0.99778336307723...|       0.0|
| 17|   Private| 47771.0|     11th|    7.0| Never-married|    Prof-specialty| Own-child| White| Female| 0.0| 0.0|       20|   United-States| <=50K|            0.0|            5.0|          1.0|             0.0|           2.0|       0.0|         1.0|          0.0|  0.0|(14,[1,2,4,6,8,9,...|[10.1347487772297...|[0.99245344144261...|       0.0|
+---+----------+--------+---------+-------+--------------+------------------+----------+------+-------+----+----+---------+----------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [49]:
predictions.select("prediction", "label", "features").show()

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,10.0,1.0,7.0...|
|       0.0|  0.0|[3.0,0.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,7.0,1.0,7.0,...|
|       0.0|  0.0|[3.0,5.0,1.0,7.0,...|
|       0.0|  0.0|[2.0,5.0,1.0,4.0,...|
|       0.0|  0.0|[2.0,10.0,1.0,5.0...|
|       0.0|  0.0|(14,[1,2,3,4,8,9,...|
|       0.0|  0.0|(14,[1,2,3,4,8,9,...|
|       0.0|  0.0|(14,[1,2,3,4,8,9,...|
|       0.0|  0.0|(14,[1,2,3,4,8,9,...|
|       0.0|  0.0|(14,[1,2,4,6,8,9,...|
+----------+-----+--------------------+
only showing top 20 rows

In [50]:
predictions.select("prediction", "label").distinct().show()

+----------+-----+
|prediction|label|
+----------+-----+
|       1.0|  1.0|
|       0.0|  1.0|
|       1.0|  0.0|
|       0.0|  0.0|
+----------+-----+

In [52]:
predictions.groupBy("prediction", "label").count().show()

+----------+-----+-----+
|prediction|label|count|
+----------+-----+-----+
|       1.0|  1.0|  827|
|       0.0|  1.0|  732|
|       1.0|  0.0|  302|
|       0.0|  0.0| 4777|
+----------+-----+-----+

In [55]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(predictionCol = "prediction", labelCol = "label", metricName = "accuracy")

In [58]:
accuracy = evaluator.evaluate(predictions)
accuracy

0.8442301898162097